<style>
body { font-family: Arial, Helvetica, sans-serif; }
</style>
<div id=certificate style="width: 563px; height: 750px; background-color: #F8F8F8; padding: 10px;text-align: center;line-height: 28px;">

<div id=cert_header style="margin-top: 80px;">
  <%=image_tag @worker.company_logo_url, width: '100px'%>
</div>

<h4>CERTIFICADO DE RELACIÓN LABORAL</h4>

<div id=cert_date style="text-align: right;">SANTIAGO, <%=@date.day%> de <%=spanish_month(@date.month)%> de 2021</div>

<p style="text-align: left;">
  Se certifica mediante el presente documento que el/la Sr(a). <%=@worker.name%>, Cédula de identidad
  <%=@worker.rut%>-<%=@worker.dv%>, está contratada por nuestra empresa <%=@worker.company_name%>, desde el <%=@worker.hired_at.strftime("%d/%m/%Y")%>, desempeñando el cargo de <%=@worker.role%>.&nbsp;Su contrato se encuentra VIGENTE.
</p>

<p style="text-align: left;">
Se otorga el presente certificado para hacer válido Permiso Único Colectivo de desplazamiento, de acuerdo a la normativa vigente
</p>


<div id=cert_signature_box style="height:159px;width:300px;margin-left:119px;font-weight:bold;line-height:10px;">
<%=image_tag '/flrb.png', width: '250px', style: 'margin-bottom: -22px;'%>
<div style="width: 100%; border: 2px solid #000000;"></div>
<p>LEONOR HENRIQUEZ ACOSTA</p>
<p>JEFA DE RR.HH.</p>
<p><%=@worker.company_name%></p>

</div>  
</div>


</div>