<style>
body { font-family: Roboto, Arial, Helvetica, sans-serif; }
#notice {
  font-size: 24px;
  background-color: lime;
  max-width: 700px;
  margin-bottom: 20px;
  }
</style>

<%=image_tag 'https://chc.cl/wp-content/themes/chc-2017/images/logo-chc.svg', width: '100px', style: 'padding: 1px 27px 12px 150px'%>
<%=#image_tag 'https://delfin.cl/wp-content/uploads/2020/03/Logo-Delfin.png', width: '100px'
%>
<h1>Solicitudes de Salvoconducto</h1>

<h3>Instrucciones:</h3>
<p>- Solicitar solo para fines laborales y bajo autorizacion de jefatura</p>
<p>- La hora límite para enviar solicitudes es a las <b>16:00 del viernes previo</b> al periodo en cuestión (para ambos tipos: Fin de Semana y Semana) </p>
<p>- Solicitudes enviadas fuera de este plazo <b>no serán procesadas</b></p>
<p>* Las del periodo Jue 18 a Vie 19 marzo se recibirán hasta las 16:00 del Mie 17</p>

<p id="notice"><%= notice %></p>
<%= button_to('Crear Solicitud', :salvoconductos_new, method: :get)%>

<h3>Solicitudes Registradas</h3>
  <% Salvoconducto.order('id desc').limit(100).each do |scond| %>
  <p>
    <%= scond.resume %>
  </p>
  <% end %>


