<style>
body { font-family: Roboto, Arial, Helvetica, sans-serif; }
#thanksmsg {
    color: green;
    font-size: 40px;
  }
  #thankssummary {
    margin-top: 40px;
  }

  #thankssummary table th, td {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: left;
    padding: 2px 10px;
    min-width: 100px;

  }
  #thankssummary table {
    border-collapse: collapse;
  }

</style>
<%=image_tag 'https://chc.cl/wp-content/themes/chc-2017/images/logo-chc.svg', width: '100px', style: 'padding: 1px 27px 12px 125px'%>
<%=#image_tag 'https://delfin.cl/wp-content/uploads/2020/03/Logo-Delfin.png', width: '100px'
%>
<h1>Formulario Inventario de Activo Fijo</h1>


<div id=thanksmsg>Gracias, fueron registrados los datos ingresados</div>
<div>Si tiene algún error puede dar aviso a TI para corregirlos, o volver a llenar nuevo formulario si prefiere</div>


<div id="thankssummary">

<h3>Datos de Usuario</h3>

<table>
  <tr>
<tr><th>Nombres</th><td><%=@duser.names%></td></tr>
<tr><th>Apellido1</th><td><%=@duser.last_name1%></td></tr>
<tr><th>Apellido2</th><td><%=@duser.last_name2%></td></tr>
<tr><th>Rut</th><td><%=@duser.rut%></td></tr>
<tr><th>Lugar de Trabajo</th><td><%=@duser.workplace%></td></tr>
<tr><th>Email</th><td><%=@duser.email%></td></tr>
<tr><th># Movil</th><td><%=@duser.mobile_phone_num%></td></tr>
<tr><th>Propiedad Linea</th><td><%=@duser.mobile_line_owner%></td></tr>
<tr><th>Propiedad Dispositivo</th><td><%=@duser.mobile_device_owner%></td></tr>
<tr><th># Fijo</th><td><%=@duser.fixed_device_num%></td></tr>
<tr><th>Registrado En</th><td><%=@duser.created_at.in_time_zone('America/Santiago').strftime('%e %b %Y %H:%M:%S%p')%></td></tr>
</table>
<h3>Dispositivos</h3>

<table>
  <tr>
    <th>ID</th>
<th>Tipo</th></th>
<th>Subtipo</th>
<th>Marca</th>
<th>Modelo</th>
<th>Color</th>
  </tr>
  <%@duser.devices.sort.each do |dev|%>
  <tr>
    <td><%=dev.id%></td>
    <td><%=dev.hdevtype%></td>
    <td><%=dev.subtype%></td>
    <td><%=dev.brand%></td>
    <td><%=dev.model%></td>
    <td><%=dev.color%></td>
  </tr>
  <%end%>
</table>
</div>