<div style='margin: 3%; font-family: Arial, Helvetica, sans-serif;'>
  <%= image_tag('http://chc.cl/ofertas/wp-content/themes/chc-2017/images/logo-chc.svg', style: 'width:200px; height:auto;') %>
  <br/>
  <%= image_tag('/fork.png', style: 'width:200px; height:auto;') %>
  <h2>Ingrese rut a consultar, sin dígito verificador</h2>

  <div>
  <%= form_with(url: "/fork", method: "get") do %>
    <%= text_field_tag(:q, @input, style: 'font-size: 20px;') %>
    <br/>
    <%= submit_tag("Consultar", style: 'width: 100px; height: 100px; font-size: 20px;margin-top: 20px;') %>
  <% end %>
  </div>
  <%if @input%>
    <h2>Resultados para consulta rut: '<%=@input%>'</h2>
  <%end%>
  <%if @worker%>
  <h3 style='color: blue'>RUT: <%=@rut%></h3>
  <h3 style='color: blue'>NOMBRE: <%=@name%></h3>
  <%end%>
  <h3 style='color: <%=@color || :blue%>'><%=@msg || 'Debe Ingresar rut'%></h3>
</div>