<table class=subs_table style="width:100%">
	<th>Puede sustituir a...</th><th>Propuesto por:</th>
<%product.subs_or_4.each do |sub| %>	
  <tr id=pr_<%=product.id%>_sub_<%=sub.id%>_row>
    <td><%=sub.name%></td>
    <td><%=sub.author%></td>
  </tr>
<%end%>  
</table>
<div class=add_sub_button_div>
	<button type="button" onclick="addSubstitute(<%=product.id%>);">+ Proponer Sustituto
	</button>
</div>