<div class=show_container>
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<strong>Active:</strong>
  <%= @product.active %>
</p>

<p>
  <strong>Brief:</strong>
  <%= @product.brief %>
</p>

<p>
  <strong>Base price:</strong>
  <%= @product.base_price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @product.discount %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @product.sale_price %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @product.stock %>
</p>

<p>
  <strong>Second class:</strong>
  <%= @product.second_class %>
</p>

<p>
  <strong>Group:</strong>
  <%= @product.group %>
</p>

<p>
  <strong>Subgroup:</strong>
  <%= @product.subgroup %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @product.priority %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @product.image_url %>
</p>

<p>
  <strong>Datasheet url:</strong>
  <%= @product.datasheet_url %>
</p>

<p>
  <strong>Hidden msg:</strong>
  <%= @product.hidden_msg %>
</p>

<p>
  <strong>Components:</strong>
  <%= @product.components.map(&:full_display_name) %>
</p>

<p>
  <strong>Fathers:</strong>
  <%= @product.fathers.map(&:full_display_name)%>
</p>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
