<!DOCTYPE html>
<html>
  <head>
    <title>CHC - Saldos de Bodega</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <%=image_tag 'https://chc.cl/wp-content/themes/chc-2017/images/logo-chc.svg' %>
    <span id="page_title">CATÁLOGO PRODUCTOS SALDOS DE BODEGA</span>
    <div id="search_container">
      <%= form_tag products_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Buscar Productos", :name => nil %>
    <% end %>
    </div>
  </div>
    <%= yield %>
  </body>
</html>
